<h1>Listing vet_specialties</h1>

<table>
  <tr>
    <th>Vet</th>
    <th>Specialty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vet_specialties.each do |vet_specialty| %>
  <tr>
    <td><%= vet_specialty.vet_id %></td>
    <td><%= vet_specialty.specialty_id %></td>
    <td><%= link_to 'Show', vet_specialty %></td>
    <td><%= link_to 'Edit', edit_vet_specialty_path(vet_specialty) %></td>
    <td><%= link_to 'Destroy', vet_specialty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vet specialty', new_vet_specialty_path %>
