<h1>Listing visits</h1>

<table>
  <tr>
    <th>Visit date</th>
    <th>Description</th>
    <th>Pet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.visit_date %></td>
    <td><%= visit.description %></td>
    <td><%= visit.pet_id %></td>
    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>
