<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pet.name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @pet.birth_date %>
</p>

<p>
  <b>Owner:</b>
  <%= @pet.owner_id %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
